In [104]:
from datetime import datetime

from traveltimepy import Driving, Coordinates, TravelTimeSdk, PublicTransport
import pickle
import pandas as pd
import numpy as np
from math import radians, cos, sin, asin, sqrt
from collections import OrderedDict

In [40]:
type(Driving)

pydantic.main.ModelMetaclass

In [27]:

def distance(lat1, lat2, lon1, lon2):
    lon1 = radians(lon1)
    lon2 = radians(lon2)
    lat1 = radians(lat1)
    lat2 = radians(lat2)
      
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
 
    c = 2 * asin(sqrt(a))
    
    # Radius of earth in kilometers. Use 3956 for miles
    r = 6371
      
    # calculate the result
    return(c * r)

In [24]:
df = pd.read_csv("constants/singapore_coords.csv", index_col=0)
long = df.iloc[0]["Longitude"]
lat = df.iloc[0]["Latitude"]
center_coord = [lat, long]
center_coord

[1.3700803, 103.8495228]

In [115]:
test = pickle.load( open( "constants/test.p", "rb" ) )
test

{'Ang Mo Kio': (103.8495228, 1.3700803),
 'Bedok': (103.930216, 1.3239765),
 'Bishan': (106.1686627, 29.5730296)}

In [116]:
pd.DataFrame.from_dict(test, orient="index")

                     0          1
Ang Mo Kio  103.849523   1.370080
Bedok       103.930216   1.323976
Bishan      106.168663  29.573030

In [84]:
sing_res = pickle.load( open( "constants/singapore_mdists.p", "rb" ) )

In [87]:
df = pd.DataFrame(sing_res)

In [111]:
df.iloc[0].values[0].keys()

dict_keys(['public_transport', 'driving', 'walking', 'cycling'])

In [106]:
a = df.apply(lambda row: [i for i in OrderedDict(row)[0].values()], axis=1).values
a

array([list([9.846109178490027, 14.899304667095205, 2.151090034783624, 6.871618550208853]),
       list([5.367797491000852, 26.74343434027348, 2.237445917842529, 6.3474494333172435]),
       list([0, 0, 0, 0]),
       list([10.917665019100212, 12.178058292172203, 2.2060199813428287, 5.20691956454817]),
       list([0, 0, 0, 0]),
       list([5.722199911038597, 23.912610887078912, 2.1419787231563574, 7.507284189637929]),
       list([1.0152484349533595, 11.398614771607805, 2.044449040656253, 4.937190581193043]),
       list([6.459689576897168, 5.898152102823567, 2.0209673126229784, 6.418447382547331]),
       list([12.094351387526306, 9.82504776794687, 2.1816708776639797, 6.359168330189036]),
       list([2.5978689437494085, 15.235482145921484, 2.301087288589845, 5.452096846213139]),
       list([3.593630906527566, 26.14022416978335, 1.953162298473479, 6.105694453828343]),
       list([4.883250998907631, 20.445077466296567, 2.0549411078457736, 6.264758765209567]),
       list([9.676301472553986, 10.407272017401027, 1.9526306557134918, 6.477035820581539]),
       list([7.002551723101139, 8.455646098888284, 2.023779832547508, 6.903251736795345]),
       list([2.9256322607377268, 23.840937994931306, 2.0201971810559813, 6.169714140943445]),
       list([4.916152635575213, 30.624069777419134, 2.154329269636357, 6.454061365726476]),
       list([7.199078206351529, 15.901583876930696, 2.15936976034705, 6.408808080442411]),
       list([4.019737163171608, 24.234966081019913, 2.106569595786972, 4.763041612629726]),
       list([2.8739342863047415, 24.26265069469936, 2.0484311333140197, 6.1941375910433525]),
       list([2.950277048600778, 20.22926943327297, 1.8250974046550497, 6.17159538908955])],
      dtype=object)

In [113]:
sing_df = pd.DataFrame([i for i in a], columns=df.iloc[0].values[0].keys(), index=df.index)
sing_df

               public_transport    driving   walking   cycling
Ang Mo Kio             9.846109  14.899305  2.151090  6.871619
Bedok                  5.367797  26.743434  2.237446  6.347449
Bishan                 0.000000   0.000000  0.000000  0.000000
Bukit Batok           10.917665  12.178058  2.206020  5.206920
Bukit Merah            0.000000   0.000000  0.000000  0.000000
Bukit Panjang          5.722200  23.912611  2.141979  7.507284
Bukit Timah            1.015248  11.398615  2.044449  4.937191
Choa Chu Kang          6.459690   5.898152  2.020967  6.418447
Clementi              12.094351   9.825048  2.181671  6.359168
Downtown Core          2.597869  15.235482  2.301087  5.452097
Geylang                3.593631  26.140224  1.953162  6.105694
Hougang                4.883251  20.445077  2.054941  6.264759
Jurong East            9.676301  10.407272  1.952631  6.477036
Jurong West            7.002552   8.455646  2.023780  6.903252
Kallang                2.925632  23.840938  2.020197  6.169714
Marine Parade          4.916153  30.624070  2.154329  6.454061
Novena                 7.199078  15.901584  2.159370  6.408808
Outram                 4.019737  24.234966  2.106570  4.763042
Pasir Ris              2.873934  24.262651  2.048431  6.194138
Punggol                2.950277  20.229269  1.825097  6.171595

In [114]:
sing_df.to_csv("constants/sing_data.csv")

In [77]:
sing_vals = {}

def check(i):
    name = {}
    name[i] = i*2

    return name

In [74]:
test = {}

In [79]:
df.apply(lambda row: check(row.Longitude), axis=1)

Ang Mo Kio       {103.8495228: 207.6990456}
Bedok              {103.930216: 207.860432}
Bishan           {106.1686627: 212.3373254}
Bukit Batok      {103.7495906: 207.4991812}
Bukit Merah      {101.0408667: 202.0817334}
Bukit Panjang    {103.7630947: 207.5261894}
Bukit Timah      {103.7763724: 207.5527448}
Choa Chu Kang    {103.7445341: 207.4890682}
Clementi         {103.7652311: 207.5304622}
Downtown Core    {103.8537756: 207.7075512}
Geylang          {103.8870563: 207.7741126}
Hougang          {103.8925443: 207.7850886}
Jurong East      {103.7422939: 207.4845878}
Jurong West      {103.7058663: 207.4117326}
Kallang            {103.866262: 207.732524}
Marine Parade    {103.9073952: 207.8147904}
Novena           {103.8438813: 207.6877626}
Outram             {103.840653: 207.681306}
Pasir Ris           {103.949255: 207.89851}
Punggol            {103.902368: 207.804736}
dtype: object

In [73]:
a = check("hello", 3)
a

{3: 6}

In [71]:
check(a, "bye", 5)

{'hello': {3: 6}, 'bye': {5: 10}}

In [59]:
def hi(a, b, c):
    print(a,b, c)

In [60]:
df.apply(lambda row: hi(row["Longitude"], row["Latitude"], row.name), axis=1)

103.8495228 1.3700803 Ang Mo Kio
103.930216 1.3239765 Bedok
106.1686627 29.5730296 Bishan
103.7495906 1.3490572 Bukit Batok
101.0408667 4.5523732 Bukit Merah
103.7630947 1.3779175 Bukit Panjang
103.7763724 1.3546901 Bukit Timah
103.7445341 1.3847493 Choa Chu Kang
103.7652311 1.3151003 Clementi
103.8537756 1.2862423 Downtown Core
103.8870563 1.3181862 Geylang
103.8925443 1.3708011 Hougang
103.7422939 1.333108 Jurong East
103.7058663 1.3434392 Jurong West
103.866262 1.310759 Kallang
103.9073952 1.3026889 Marine Parade
103.8438813 1.3205257 Novena
103.840653 1.2816642 Outram
103.949255 1.3730307 Pasir Ris
103.902368 1.4051559 Punggol

Ang Mo Kio       None
Bedok            None
Bishan           None
Bukit Batok      None
Bukit Merah      None
Bukit Panjang    None
Bukit Timah      None
Choa Chu Kang    None
Clementi         None
Downtown Core    None
Geylang          None
Hougang          None
Jurong East      None
Jurong West      None
Kallang          None
Marine Parade    None
Novena           None
Outram           None
Pasir Ris        None
Punggol          None
dtype: object

In [46]:
df.index

Index(['Ang Mo Kio', 'Bedok', 'Bishan', 'Bukit Batok', 'Bukit Merah',
       'Bukit Panjang', 'Bukit Timah', 'Choa Chu Kang', 'Clementi',
       'Downtown Core', 'Geylang', 'Hougang', 'Jurong East', 'Jurong West',
       'Kallang', 'Marine Parade', 'Novena', 'Outram', 'Pasir Ris', 'Punggol'],
      dtype='object')

In [36]:
df.iloc[0].name

'Ang Mo Kio'

In [45]:
# find the distance between furthest away coordinates
test_coords = pickle.load( open( "constants/test_coords.p", "rb" ) )
test_coords
# shell = test_coords[0].shapes[0].shell

{'Ang Mo Kio': {'public_transport': 2.190425378257557,
  'driving': 14.899304667095205,
  'walking': 2.151090034783624,
  'cycling': 6.871618550208853}}

In [28]:
dsts = [distance(lat, i.lat, long, i.lng) for i in shell]

In [30]:
max(dsts)

1.1466795015435902

In [17]:
shell[0].l

1.3669467

In [7]:
shell

[Coordinates(lat=1.3669467, lng=103.84288),
 Coordinates(lat=1.3646858, lng=103.84512),
 Coordinates(lat=1.3646858, lng=103.84602),
 Coordinates(lat=1.3637815, lng=103.846924),
 Coordinates(lat=1.3637815, lng=103.847824),
 Coordinates(lat=1.3628771, lng=103.84872),
 Coordinates(lat=1.3628771, lng=103.84962),
 Coordinates(lat=1.3619727, lng=103.85052),
 Coordinates(lat=1.3619727, lng=103.85231),
 Coordinates(lat=1.3610684, lng=103.85321),
 Coordinates(lat=1.3615205, lng=103.85366),
 Coordinates(lat=1.3633293, lng=103.85366),
 Coordinates(lat=1.3642336, lng=103.85276),
 Coordinates(lat=1.3651379, lng=103.85276),
 Coordinates(lat=1.3655902, lng=103.85321),
 Coordinates(lat=1.3646858, lng=103.85411),
 Coordinates(lat=1.3646858, lng=103.85501),
 Coordinates(lat=1.3637815, lng=103.85591),
 Coordinates(lat=1.3642336, lng=103.85635),
 Coordinates(lat=1.3669467, lng=103.85635),
 Coordinates(lat=1.3687555, lng=103.858154),
 Coordinates(lat=1.3705642, lng=103.858154),
 Coordinates(lat=1.3710164, lng=103.857704),
 Coordinates(lat=1.3710164, lng=103.856804),
 Coordinates(lat=1.3714685, lng=103.85635),
 Coordinates(lat=1.3723729, lng=103.85635),
 Coordinates(lat=1.372825, lng=103.85591),
 Coordinates(lat=1.3719207, lng=103.85501),
 Coordinates(lat=1.3723729, lng=103.85456),
 Coordinates(lat=1.3741816, lng=103.85456),
 Coordinates(lat=1.3746338, lng=103.85411),
 Coordinates(lat=1.372825, lng=103.85231),
 Coordinates(lat=1.3732773, lng=103.85187),
 Coordinates(lat=1.375086, lng=103.85187),
 Coordinates(lat=1.3759904, lng=103.85276),
 Coordinates(lat=1.3782513, lng=103.85052),
 Coordinates(lat=1.3782513, lng=103.84962),
 Coordinates(lat=1.377799, lng=103.84917),
 Coordinates(lat=1.3768947, lng=103.84917),
 Coordinates(lat=1.3764426, lng=103.84872),
 Coordinates(lat=1.377799, lng=103.847374),
 Coordinates(lat=1.3787035, lng=103.847374),
 Coordinates(lat=1.3796078, lng=103.84827),
 Coordinates(lat=1.38006, lng=103.847824),
 Coordinates(lat=1.38006, lng=103.846924),
 Coordinates(lat=1.3796078, lng=103.84647),
 Coordinates(lat=1.3787035, lng=103.84647),
 Coordinates(lat=1.3782513, lng=103.84602),
 Coordinates(lat=1.3782513, lng=103.84512),
 Coordinates(lat=1.377799, lng=103.84467),
 Coordinates(lat=1.375086, lng=103.84467),
 Coordinates(lat=1.3741816, lng=103.84378),
 Coordinates(lat=1.3714685, lng=103.84378),
 Coordinates(lat=1.370112, lng=103.84243),
 Coordinates(lat=1.370112, lng=103.84153),
 Coordinates(lat=1.3696598, lng=103.84108),
 Coordinates(lat=1.3692076, lng=103.84153),
 Coordinates(lat=1.3678511, lng=103.84288),
 Coordinates(lat=1.3669467, lng=103.84288)]